
@{
    ViewData["Title"] = "Edit";
}
<h2>Edit Student Page</h2>

<form asp-controller="Home" asp-action="GetEditDataAsync" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace"
      data-ajax-update="#EditData" data-ajax-loading="#divloading" data-ajax-success="onSuccess" class="form-horizontal">

    <input type="text" name="editsearch2" id="SearchBox2">
    <input type="submit" value="Search" id="EditSubmit2">
    @*data-ajax-success="onSuccess"*@
</form>

<div id="divloading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
        top: 0px; width: 100%; height: 100%; background-color:#ffffff; z-index: 300001;
        opacity: .8; filter: alpha(opacity=80);display:none"> @*moet in stylesheet komen*@

    <div style="position: absolute; top: 40%; left: 40%; color: black;">



        <img src="~/images/Wedges.gif" />
    </div>
</div>

@*<script>
    //function Success() {

    //    $('#divloading').hide();


    //}
        function Failure() {

        $('#divloading').hide();
        alert("Form Failed");
    }
    </script>*@




<div id="EditData">


</div>

