@model Notitie

<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h1 class="text-center">Notitie maken</h1>





        <form asp-action="EditNotities" method="post" class="form-horizontal">

            <div class="form-group">
                <label asp-for="onderwerp" class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="onderwerp" class="form-control" />
                </div>
            </div>

            @*<div class="form-group">
                <label asp-for="Datum" class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="Datum" class="form-control" value="@ViewBag.datum" readonly="@(true)" />
                </div>
            </div>*@


            <input type="hidden" asp-for="User.Id" /> @*moet itct id worden*@
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Textarea" class="col-sm-2"></label>
                <div class="col-sm-10">

                    <textarea asp-for="Textarea" class="form-control"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <div asp-validation-summary="All"></div>

        </form>

        <input type="button" class="mybuttons2" value="Terug naar Notities" onclick="location.href='@Url.Action("AlleNotities", "Home")'" />
        @*<a href='@Url.Action("AlleNotities", "Home")'>
            <input type='button' value='Terug naar Notities' />
        </a>*@


    </div>
</div>